{
  "semi": true,
  "singleQuote": true,
  "tabWidth": 2,
  "trailingComma": "es5",
  "importOrder": [
    "^@/config/(.*)$",
    "^@/context/(.*)$",
    "^@/components/(.*)$",
    "^@/styles/(.*)$",
    "^@/utils/(.*)$",
    "^[./]"
  ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true
}
